project:
  type: website

website:
  title: "NHS-R Community Quarto website"
  description: "Promoting the Use of R in the UK Health & Care System"
  site-url: https://nhsrcommunity.com/
  page-navigation: true
  back-to-top-navigation: true
  favicon: /img/nhsr-logo.png
  repo-url: https://github.com/nhs-r-community/nhs-r-community
  repo-actions: [edit, issue]
  # If you are forking our repo to develop content -- whether for NHS-R Community
  # or your own psurposes -- please disable our Google Analytics tag during development.
  # If building your own site, replace our GA tag with your own GA tag before deployment.
  # This will prevent your activity being tracked and counted in our analytics dashboard.
  # Thank you!
  google-analytics: "G-1T1K3D1BKL"
  navbar:
    toggle-position: right
    logo-href: https://nhsrcommunity.com/
    logo: https://raw.githubusercontent.com/nhs-r-community/assets/main/logo/nhsr-logo.png
    logo-alt: "NHS-R Community Logo which consists of the words and incorporating the R logo"
    title: false
    collapse-below: lg
    tools:
    - icon: github
      href: https://github.com/nhs-r-community
    right:
      - text: "About"
        href: about/index.qmd
        aria-label: About page
      - text: Events
        href: events.qmd
        aria-label: Events website
      - text: conference
        href: conference24.qmd
        aria-label: conference page
      - text: "Books"
        href: books/index.qmd
        aria-label: Books page
      - text: "Blogs"
        href: blog/index.qmd
        aria-label: Blogs page
      - text: "Getting Started"
        href: getting-started.qmd
        aria-label: Getting Started page
      - text: "Get Involved"
        href: get-involved.qmd
        aria-label: Get Involved page
      - text: Home
        href: index.qmd
        aria-label: Home page

  page-footer:
    left: >-
     {{< now year >}} NHS-R Community &#8729; Made with [![Quarto](https://quarto.org/quarto.png){fig-alt="Quarto logo blue round circle with a cross within the circumference" width=65px}](https://quarto.org/)
    center: |
      <a href="https://fosstodon.org/@NHSrCommunity" aria-label="Go to NHSR's Fosstodon page" title="mastodon" target="_blank" rel="noopener">
        <i class="link-dark me-1" aria-hidden="true"></i> {{< fa brands mastodon >}}</a>
      <a href="https://github.com/nhs-r-community" aria-label="Go to NHSR's GitHub" title="github" target="_blank" rel="noopener">
        <i class="link-dark me-1" aria-hidden="true"></i> {{< fa brands github >}}</a>
      <a href="https://soundcloud.com/nhs-r-community" aria-label="Go to NHSR's SoundCloud" title="soundcloud" target="_blank" rel="noopener">
        <i class="link-dark me-1"aria-hidden="true"></i> {{< fa brands soundcloud >}}</a>
      <a href="https://www.linkedin.com/in/nhs-r-community-2555a6282/" aria-label="Go to NHSR's LinkedIn" title="LinkedIn" target="_blank" rel="noopener">
        <i class="link-dark me-1" aria-hidden="true"></i> {{< fa brands linkedin >}}</a>

    right:
      - text: "Accessibility"
        href: accessibility.qmd
        aria-label: Accessibility Commitment
      - text: "Terms and Conditions"
        href: ts-and-cs.qmd
        aria-label: Terms and Conditions
      - text: "Contact"
        href: about/index.qmd
        aria-label: Contacts on About Page
      - text: "Licence"
        href: licence.qmd
        aria-label: Licence Details
      - icon: rss
        href: blog/index.xml
        aria-label: RSS blog feed

format:
  html:
    theme:
      light:
        - assets/nhsr-font.scss
        - assets/theme-light.scss
      dark:
        - assets/nhsr-font.scss
        - assets/theme-dark.scss
    css: assets/nhsr.css
    code-link: true
    link-external-newwindow: true

execute:
  freeze: true
  warning: false
