.quarto-grid-item .card-attribution {
  text-transform: none;
  color: black;
  font-weight: 300;
  color: black;
  flex-grow: 10;
  align-items: flex-end;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
